<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nur Blog</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="./style/user.css">
   <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
</head>

<body>
    <% include ../assets/top.ejs %>
    <div class="container  bg-white maincontainer" style="margin-top: 20px; ">
        <div class="jumbotron">
            <h3 class="myfont text-center " style="color: rgb(206, 168, 1);" >نۇر بىلوگىغا كەلگىنىڭىزنى قىزغىن قارشى ئالىمەن</h3>
            <p class="lead myfont text-center my-2" style="direction: rtl; padding: 5px; font-size: 15px; color:tomato;" > بۇ Blog  دا  Web كە مۇناسىۋەتلىك مەزمۇنلارنى يوللىنىدۇ.ھەر قانداق تەكلىپ پكىر بولسا مەن بىلەن ئايرىم ئالاقە قىلسىڭىز بۇلىدۇ.بۇ Blog دىكى يازمىلارنى مەزمۇنىنى ئۆزگەرتمىگەن،ئەسلى ئادرىسنى ئەسكەرتكەن ھالدا ئۈزىڭلارنىڭ تور بىتىدە ياكى سالۇنىدا تارقاتساڭلار بۇلىدۇ.</p>

            <p class="lead myfont text-center my-2" style="direction: rtl; font-size: 25px; padding: 5px;  color:rgb(8, 206, 25);" > دوسلارنىڭ chrome,edge,firefox قاتارلىق تور كۆرگۈچنى ئىشلىتىشىنى ،ie نى ئامال بار ئىشلەتمەسلىكنى ئالاھىدە تەۋسىيە قىلىمىز.</p>
            
            <div class="text-center">
                <a class="btn  btn-outline-info myfont px-4 " href="/posts" role="button">يازمىلار
                    </a>

            </div>

        </div>
        <div class="container p-4">
          
           
        </div>
    </div>



</body>

</html>