
<body>
 <div class="container-fluid bg-light shadow p-1  fixed-top" >
        <nav class="nav d-flex flex-row-reverse pr-4 ">
                <a class="nav-link active" href="/">
                    <img id="logoimg" src="/images/blogger.png" alt="">
                </a>
                <a class="nav-link myfont" href="/posts">يازمىلار</a>
                <a class="nav-link myfont" href="/admin">باشقۇرۇش</a>
                <a class="nav-link myfont" href="/admin/contact">ئالاقە</a>
        </nav>
 </div>
 
